<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Attendance</ion-title>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >

<div *ngIf="!data">
<div class="ion-padding">

<ion-skeleton-text [animated]="true" class="sek2" *ngFor="let fake of fakeData"></ion-skeleton-text>

</div>
</div>

<div *ngIf="data">

<ion-item *ngFor="let a of data" lines="full">
<ion-label>{{ a.date_added }} 
<ion-badge *ngIf="a.type == 0" color="primary" style="float: right;">Present</ion-badge>
<ion-badge *ngIf="a.type == 1" color="danger" style="float: right;">Absent</ion-badge>
</ion-label>
</ion-item>

</div>

</ion-content>
