ion-label span
{
    color:gray;
    float:right
}


ion-item
{
    border-radius: 10px;
    margin-top: 20px;
}

.sek2
{
    height: 120px;
    margin-top: 20px;
    border-radius: 10px;
}

ion-content
{
    --background:var(--ion-color-light);
}

ion-card-title
{
    font-size: 18px;
}

small
{
    margin-top: 10px;
    display: block;
    color:gray;
}

